<!DOCTYPE html>
<html>
<head>
	<%- include partial/head.ejs %>
	<link rel="stylesheet" href="/tab/bootstrap/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/datatables/datatables.min.css" type="text/css"/>
	<script type="text/javascript" src="/datatables/datatables.min.js"></script>
	<script type="text/javascript" src="/project/js/copyProject.js"></script>
	<script type="text/javascript" src="/project/js/createProject.js"></script>
	<script type="text/javascript" src="/project/js/dataTable.js"></script>
	<script type="text/javascript" src="/project/js/delProject.js"></script>
	<script type="text/javascript" src="/project/js/status.js"></script>

    <script type="text/javascript" src="/project/js/updateProject.js"></script>
    <script type="text/javascript" src="/project/js/shareProject.js"></script>
	<script type="text/javascript" src="/project/js/delShareProject.js"></script>


    <script type="text/javascript" src="/project/js/editauthority.js"></script>


</head>
<body>
    <%- include partial/header.ejs %>
    <%- include partial/dialogShare.ejs %>

    <div class="section-nav">
		<div class="container">
			<div class="pro_hvcenter_title">
				<h3>
					<ul class="breadcrumb">
						<li><a href="/projectList">Project List</a></li>
						<li class="active"><%=title%></li>
					</ul>
				</h3>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
	    <table id="table" class="table table-hover">
	        <thead>
	            <tr>
	                <th>User</th>
	                <th>Edit project user</th>
	                <th>Edit tasks</th>
	                <th>Run tasks</th>
	                <th>Delete</th>
	            </tr>
                <% var index = 0; %>
                <% proj.proj_share.forEach( function ( emailShare ){ %>
	            <tbody class="shareProjectTable">


                         <tr>

                             <th class="emailShare" value ="<%= emailShare %>"><%= emailShare %></th>

                             <% console.log(index+' index '+proj.permission[index]) %>
                             <% if(proj.permission[index][0]==1){ %>
                                 <th><input class="dbcheck" type="checkbox" value="editprojectuser" checked></th>
                             <%} else { %>
                                 <th><input class="dbcheck" type="checkbox" value="editprojectuser"></th>

                             <%} if(proj.permission[index][1]==1){ %>
                                 <th><input class="dbcheck" type="checkbox" value="edittasks" checked></th>
                             <%} else{  %>
                                 <th><input class="dbcheck" type="checkbox" value="edittasks"></th>
                             <%} if(proj.permission[index][2]==1){ %>
                                 <th><input class="dbcheck" type="checkbox" value="runtasks" checked></th>
                             <%} else{  %>
                                 <th><input class="dbcheck" type="checkbox" value="runtasks"></th>
                             <% }%>
                             <th><button type="button" onclick="askDelShare('<%= proj._id %>',
                             '<%= emailShare %>')"class="btn btn-primary" data-toggle="modal" data-target="#yesnoShareModal">delete</button></th>


                             <% index++;%>


                         <tr>

                </tbody>
                <div class="title-btn">
		</div>

                 <% }); %>
	        </thead>
        </table>
	</div>
	&nbsp;
	<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Add User</div>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="(user name)">
                    </div>
                    <div class="form-group">
                        <h4>As</h4>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <select id="target" name="target">
                                <option value="ProjectOwner">ProjectOwner</option>
                                <option value="Leader">Leader</option>
                                <option value="Tester">Tester</option>
                                <option value="Guest">Guest</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnShare" onclick="askShareProj('<%= proj._id %>')" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="title-btn">
		    <button type="button" class="btn btn-primary" id="transmitData" onclick="saveSetting('<%= proj._id %>')"> Save Setting</button>
		</div>
    </div>

</body>
<script type="text/javascript" src="/project/js/editauthority.js"></script>

</html>