<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/tab/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/tab/style.css">
  <script type="text/javascript" src="/tab/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="/datatables/datatables.min.css" type="text/css"/>
  <script type="text/javascript" src="/datatables/datatables.min.js"></script>
  <script src="/javascripts/highcharts.js"></script>
  <style>

#legendContainer {
    background-color: #fff;
    padding: 2px;
    margin-bottom: 8px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: 0 auto;
}
.container_dashboard {
    
    padding-left: 5px;
    padding-right: 5px;
}
#taskReport_optTable{
  cursor:pointer;
}
.hideDiv{
  display: none;
}
.button_text{
  cursor:pointer;
}
.grey{color:#949494}
.fixed{position: fixed}
.save_btn{margin-top:-50px; visibility:hidden;}
.backboderYellow{border:1px solid yellow;}
/*
#memo_border{
  border:1px solid red;
  width:45%;
  height:350px;
  background-color: #ccc;
}
#memo_title{
  border:1px solid blue;
  text-align: center;
  font-weight: 500;
  background-color: #ccc;
}
}
#memo_report{
  border:1px solid green;
}
#choices_RunTask{
  width:20%;
  float:left;
}
#legendContainer_RunTask{
  text-align: center;
  margin-left:20px;
}
#lineChart_RunTask{
  width:75%;
  height:300px;
  float:left;
}*/
</style>
</head>
<body onload="autotab()">

  <%- include partial/header.ejs %>
  <%- include partial/dialogAddTab.ejs %>


  <div class="section-nav">
    <div class="container">
      <div class="pro_hvcenter_title">
        <h3>
          <ul class="breadcrumb">
            <li class="active"><%= title %></li>
          </ul>
        </h3>
      </div>
    </div>
    <hr>
  </div>
  <div class="container_dashboard" >
    <% 
      var tabDiv = "";
      var tabText = "";
      var tablength = 0;
    %>
    <ul class="nav nav-tabs">
      <% 

        dashB.forEach( function( tab ){
        tabDiv = funEncodeSpace(tab.tab);
        tabText = funDecodeSpace(tab.tab);

        tablength++;
        if(tabText.length>8){
          tabText = tabText.substring(0,8)+"...";
        }%>
        <li>
          <a style="cursor:pointer" href="#tab<%= tabDiv %>" class="show-contact" id="<%= tabDiv %>"><%=tabText %></a>
          <span class="del-tab-span"><button type="button" class="del-tab" data-dismiss="modal" id="<%= tab._id %>"><img src="/images/close.png"/></button> </span>


        </li>
      <% }); %>

      <% if(tablength < 10){ %>
        <li>
          <a href="#" class="add-contact" data-toggle="modal" data-target="#myModal">+ Create Dashboard</a>
        </li>
      <% } %>
    </ul>

    <% if(tabDiv != ""){ %>
      <div style="float:right" > 
        <button 
          id="addreport" 
          class="btn btn-primary" 
          type="submit" 
          data-toggle="modal" 
          data-target="#reportModal" 
        > 
          Add report
        </button>
      </div> 
    <% } %>
</div><!--<div class="container" -->
      <div class="tab-content" style="border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;">

      <% dashB.forEach( function ( tab ){
       tabDiv = funEncodeSpace(tab.tab);  %>
        
        <div class="tab-pane" id="tab<%= tabDiv %>" > 
          <!--Contact Form: New Contact (<%= tab.tabname %>)-->  
          <div id="content<%= tabDiv %>" ></div>

          </div>

        
      <% }); %>

     
    </div>  <!--#"tab-content"-->

  

  <div class="modal fade" id="reportModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content" id="infoContent">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="infoClose">&times;</button>
          <h4 id="infoTitle" class="modal-title" align="center">Report</h4>
        </div>
        <div class="modal-body" >
          <div style="text-align:center">
            <select id="dashtab" class="form-control" > 
              <!--id="dashtab" name="projselect" onchange="showTask(this.value)"-->
              <option value="" selected="true">Please choose project</option>
              <% projs.forEach( function ( proj ){ %>
                <option >
                  <a  href="/dashboardtab_proj/<%= proj._id %>" data-dismiss="modal"><%= proj.proj_name %></a>
                </option>
              <% }); %>
            </select>
          </div></br></br>
          <table id="taskReport_optTable" class="display" width="100%" data-dismiss="modal"></table>
         

  <!-- 2016/03/18 by kristen-->
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script><![endif]-->
  <script type="text/javascript" src="/lib/jquery/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/lib/jquery/jquery-migrate-1.2.1.js"></script>
  <script type="text/javascript" src="/lib/flot/excanvas.min.js"></script>
  <script type="text/javascript" src="/lib/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="/lib/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="/lib/flot/jshashtable-2.1.js"></script>    
  <script type="text/javascript" src="/lib/flot/jquery.numberformatter-1.2.3.min.js"></script>
  <script type="text/javascript" src="/lib/flot/jquery.flot.pie.min.js"></script>
  <script type="text/javascript" src="/lib/flot/jquery.flot.axislabels.js"></script>
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <style type="text/css">.ui-widget-content{}</style>
  <script type="text/javascript" src="/dashboard/js/origin.js"></script>
  <script type="text/javascript" src="/dashboard/js/pie.js"></script>
  <script type="text/javascript" src="/dashboard/js/line.js"></script>
  <script type="text/javascript" src="/dashboard/js/dom.js"></script>
  <script type="text/javascript" src="/dashboard/js/google_loader.js"></script> <!-- 2016/03/09 by kristen-->
  <script type="text/javascript" src="/dashboard/js/add.js"></script>  
  <script type="text/javascript" src="/javascripts/check.js"></script>
  <script type="text/javascript" src="/dashboard/js/dashboard.js"></script>
  <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
  <!--<script type="text/javascript" src="/tab/bootstrap/js/bootstrap.min.js"></script>-->

</body>
</html>