<!DOCTYPE html>
<html>
<head>
	<%- include partial/head.ejs %>
	<link rel="stylesheet" href="/stylesheets/loader.css" type="text/css">
	<link rel="stylesheet" href="/tab/bootstrap/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="/datatables/datatables.min.css" type="text/css"/>
	<script type="text/javascript" src="/task/js/pipelineProject.js"></script>
    <script type="text/javascript">
        $(function (){
            updateRunInfoTimeout = 0;  // initial refresh time
            (function updateRunInfoLoop() {
                setTimeout(function () {
                    updateRunInfoTimeout = 10000;  // regular refresh time
                    updateRunInfo();
                    updateRunInfoLoop();
                }, updateRunInfoTimeout);
            })();
        });
    </script>
</head>
<body>
	<%- include partial/header.ejs %>
	<%- include partial/dialogInfo.ejs %>
	<%- include partial/dialogYesNo.ejs %>

	<div class="section-nav">
		<div class="container">
			<div class="title-tasklist">
				<div class="row">
					<div class="col-md-10">
						<div>
							<h3>
								<ul class="breadcrumb">
									<% if (projName){ %>
									<li><a href="/projectList">Project List</a></li>
                                    <li><a href="/project/<%= projId %>"><%= projName %></a></li>
                                    <li class="active">#<%= runId %></li>
                                    <% } %>
								</ul>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="titleline">
	</div>

	<div class="container">
        <div id="run-info" style="margin-bottom:8px;"><span style="font-size:32px;" id="run-title">#<%= runId %></span></div>
        <div class="row">
            <div id="task-panel" class="col-md-3"></div>
            <div class="col-md-9">
				<div id="log-panel" style="background-color:#f5f5f5; padding:4px;"></div>
        	</div>
        </div>
	</div>
</div>
</body>
</html>
